<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              <h1 style="color: #f4811f; text-align: center;">Lounges</h1>
          </div> 
        </div>     
        <div class="col px-0">
          <div class="row align-items-center justify-content-center mt-5">
            <div class="text-center">
              <button class="btn btn-1 btn-primary navButton" type="button" (click)="open('home')">Back to Home</button>
              <button class="btn btn-1 btn-primary navButton" type="button" (click)="open('city-codes')">View City Codes</button>
            </div>
          </div>
        </div>
          
        

        <div class="row justify-content-center mt-5">
          <div class="text-center">
            <h4 style="color:#f4811f;">Write the name of city</h4> 
            <input type="text" placeholder="City name">
          </div>
        </div>

        <div class="row justify-content-center mt-5">
          <div class="text-center">
             <button class="btn btn-1 btn-primary mt-4 navButton" type="button">Get Lounges</button>
          </div>
        </div>
       
      </div>
    </section>

    <div class="row">
      <table class="table table-bordered scroll table-sm ml-4 mr-4">

        <tr>
          <th>Data</th>
          <th>Test</th>
        </tr>


      </table>

    </div>


