<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              <h1 style="color: #f4811f; text-align: center;">Lounges</h1>
          </div> 
        </div>     
        <div class="col px-0">
          <div class="row align-items-center justify-content-center mt-5">
            <div class="text-center">
              <button class="btn btn-1 btn-primary navButton" type="button" (click)="open('home')">Back to Home</button>
              <button class="btn btn-1 btn-primary navButton" type="button" (click)="open('all-aircraft')">View Lufthansa Fleet</button>
              <button class="btn btn-1 btn-primary navButton" type="button" (click)="open('city-codes')">View City Codes</button>
            </div>
          </div>
        </div> 
      </div>
    </section>

    <div class="row justify-content-center">
      <div class="col-12">
         <table class="table table-bordered scroll table-sm">

            <tr class="w-auto" style="color: #191d4d; background-color: #f4811f;">
              <th>Airport Code</th>
              <th>Name of Lounge</th>
              <th>Location</th>
              <th>Opening Hours</th>
            </tr>

            <ng-container *ngFor="let item of (loungesObservable | async)">

              <tr (click)="clickTableRow(item)" class="w-auto">
                <td>{{item?.AirportCode}}</td>
                <td>{{item.Names?.Name?.$}}</td>
                <td>{{item.Locations?.Location?.$}}</td>
                <td>{{item.OpenningHours?.Hours}}</td>
              </tr>
  
              <div *ngIf="item.visible" >
              <div style="text-align: center;">
                <h5>Features:</h5>
                <label *ngIf="item.Features.Restrooms == true">WC</label>
                <i *ngIf="item.Features.WLANFacility == true" class="fa fa-solid fa-wifi ml-2"></i> 
                <i *ngIf="item.Features.TV == true" class="fa fa-solid fa-tv ml-2"></i>
              </div>
              </div>

            </ng-container>

          </table>
       </div>
    </div>


