<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- Basic elements -->
        <button class="btn btn-1 btn-primary" type="button" (click)="open('all-aircraft')">View Lufthansa Fleet</button>
        <h2 class="mb-5">
          <span>Google Maps</span>
        </h2>
        <button class="btn btn-1 btn-primary" type="button">Find Me</button>
        <!-- Buttons -->
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <!-- Button styles -->
        
        <!-- Button colors -->
        <div class="mb-3 mt-5">
        </div>
        
        
        <div class="mb-3 mt-5">
          <small class="text-uppercase font-weight-bold">Outline</small>
        </div>
        <button class="btn btn-1 btn-outline-primary" type="button">Outline-primary</button>
        <button class="btn btn-1 btn-outline-info" type="button">Outline-info</button>
        <button class="btn btn-1 btn-outline-success" type="button">Outline-success</button>
        <button class="btn btn-1 btn-outline-warning" type="button">Outline-warning</button>
        <button class="btn btn-1 btn-outline-danger" type="button">Outline-danger</button>
        <!-- Button links -->
        <div class="mb-3 mt-5">
          <small class="text-uppercase font-weight-bold">Links</small>
        </div>
        <a href="javascript:void(0)" class="btn btn-link text-default">Default</a>
        <a href="javascript:void(0)" class="btn btn-link text-primary">Primary</a>
        <a href="javascript:void(0)" class="btn btn-link text-info">Info</a>
        <a href="javascript:void(0)" class="btn btn-link text-success">Success</a>
        <a href="javascript:void(0)" class="btn btn-link text-warning">Warning</a>
        <a href="javascript:void(0)" class="btn btn-link text-danger">Danger</a>
      </div>
    </div>
  </div>
</section>
