<section class="section section-components pb-0" id="section-components">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- Basic elements -->
        <h2 class="mb-5">
          <span>Google Maps</span>
        </h2>
        <button class="btn btn-1 btn-primary" (click)="getLocation()" type="button">Find Me</button>
        <!-- Buttons -->
        <agm-map [latitude]='lat' [longitude]='long'>
             <agm-marker *ngFor="let data of tempData.NearestAirportResource.Airports.Airport" [latitude]="data.Position.Coordinate.Latitude" [longitude]="data.Position.Coordinate.Longitude">    
                <agm-info-window #infoWindow>
                      {{ data.Names.Name.$ }}
                </agm-info-window>
             </agm-marker>
         </agm-map>
        <!-- Button styles -->
        
        <!-- Button colors -->
        <!-- Button links -->
        <br> <br> <br>
        <h2>Lufthansa statistics</h2>
        <ngx-charts-bar-vertical
    [view]="view"
    (window:resize)="onResize($event)"
    [results]="saleData"
    [xAxisLabel]="'Year'"
    [legendTitle]="'Passengers per year'"
    [yAxisLabel]="'Passengers'"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-vertical>

<br> <br> <br> <br> <br> <br> <br> <br> <br>
<br> <br> <br>
<ngx-charts-bar-horizontal
[view]="view"
(window:resize)="onResize($event)"
    [results]="flightData"
    [xAxisLabel]="'Flights'"
    [legendTitle]="'Flights per year'"
    [yAxisLabel]="'Year'"
    [legend]="false"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true">
</ngx-charts-bar-horizontal>
        
      </div>
    </div>
  </div>
</section>
