<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              
          </div>
        </div>
      </div>
    </section>
    <button class="btn btn-1 btn-outline-primary" type="button">Outline-primary</button>
        <button class="btn btn-1 btn-outline-info" type="button">Outline-info</button>
        <button class="btn btn-1 btn-outline-success" type="button">Outline-success</button>
        <button class="btn btn-1 btn-outline-warning" type="button">Outline-warning</button>
        <button class="btn btn-1 btn-outline-danger" type="button">Outline-danger</button>
  </main>

