<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              <h1 style="color: #f4811f; text-align: center;">Lufthansa Fleet</h1>
              <div class="text-center">
                <button class="btn btn-1 btn-primary mt-4 navButton" type="button" (click)="open('home')">Back to home</button>
              </div>
             
          </div>
        </div>
      </div>
    </section>
    
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA319Lufthansa.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A319</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 26</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA320Lufthansa.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A320</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 53</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA320NEO.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A320neo</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 30</h6>
             <h6>Ordered: 53</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA321.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A321</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 63</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA321NEO.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A321neo</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 15</h6>
             <h6>Ordered: 26</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA330-300.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A330-300</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 13</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA340-300.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A340-300</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 17</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA340-600.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A340-600</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 5</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA350-900.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A350-900</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 20</h6>
             <h6>Ordered: 27</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/AirbusA380.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Airbus A380</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 8<sup>a</sup></h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/Boeing747-400.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Boeing 747-400</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 8</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/Boeing747-8.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Boeing 747-8 Intercontinental</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 19</h6>
             <h6>Ordered: —</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/Boeing777-9x.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Boeing 777-9</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: —</h6>
             <h6>Ordered: 20</h6>
            </div>
    </div>
    <div class="row mt-4">
        <img [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'" src="./assets/img/brand/Boeing787-9.jpg">
        
            <h4 [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Boeing 787-9</b></h4>

            <div [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'">
             <h4><b>Details:</b></h4>
             <h6>In Service: 1</h6>
             <h6>Ordered: 31</h6>
            </div>
    </div>
  </main>

