<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              <h1 style="color: #f4811f; text-align: center;">City Codes</h1>
              <div class="text-center">
                <button class="btn btn-1 btn-primary mt-4 navButton" type="button" (click)="open('home')">Back to home</button>
              </div>
             
          </div>
        </div>
       
      </div>
    </section>
    
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <table class="table table-bordered scroll table-sm">
          <tr class="w-auto" style="color: #191d4d; background-color: #f4811f;">
            <th>City Code</th>
            <th>City</th>
            <th>Country</th>
          </tr>

          <tr class="w-auto" *ngFor="let data of cityCodes">
           <td>{{data.code}}</td>
           <td>{{data.city}}</td>
           <td>{{data.country}}</td>
          </tr>



       </table>
      </div>
        
    </div>
    
  </main>
