
<div class="modal-header">
  <h1 class="modal-title" style="color: #191d4d;; text-align: center;">City Codes</h1>
  <button style="background-color: #191d4d;" type="button" class="close" data-dismiss="modal" (click)="activeModal.close()">
    <span style="color: #f4811f;" aria-hidden="true">&times;</span>
  </button>
 </div>
  <div class="modal-body">
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <table class="table table-bordered scroll table-sm">
          <tr class="w-auto" style="color: #191d4d; background-color: #f4811f;">
            <th>City Code</th>
            <th>City</th>
            <th>Country</th>
          </tr>

          <tr class="w-auto" *ngFor="let data of cityCodes">
           <td>{{data.code}}</td>
           <td>{{data.city}}</td>
           <td>{{data.country}}</td>
          </tr>



       </table>
      </div>
        
    </div>
  </div>

