<main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
              <h1 style="color: #f4811f; text-align: center;">City Codes</h1>
              <div class="text-center">
                <button class="btn btn-1 btn-primary mt-4 navButton" type="button" (click)="open('home')">Back to home</button>
              </div>
             
          </div>
        </div>
      </div>
    </section>
    
    <div class="row mt-4">
        <h4 style="text-align: center;" [ngClass]="isDesktopDevice ? 'col-4': 'col-12 mx-auto'"><b>Test</b></h4>
    </div>
    
  </main>
